@import 'tailwindcss';

:root {
  --background: #fffdfc;
  --foreground: #171717;
  --primary: #82d8b4;
  --secondary: #a7c7ff;
  --accent: #ffe38e;
  --card: #ffffff;
  --text: #4a5568;
}

.dark {
  --background: #0f172a;
  --foreground: #f8fafc;
  --primary: #22c55e;
  --secondary: #38bdf8;
  --accent: #facc15;
  --card: #1e293b;
  --text: #f8fafc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-noto-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-sans;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding-inline: 1rem;
}

@media (max-width: 1280px) {
  .container {
    max-width: 100%;
  }
}
